@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(london.jpg) no-repeat center center fixed;
    background-size:cover;
}
.container{
    /* border: 12px solid black; */
    color: white;
    position: absolute;
    top: 35%;
    left: 40%;
}
.container h1{
    font-family: 'Baloo Chettan 2', cursive;
    width: 50%;
    display: inline-block;
    font-size: 45px;
    margin-bottom: 15px;
    border-bottom: 4px solid purple;
    padding: 13px 0;
}
.box{
    width: 100%;
    margin: 22px 0px;
    border-bottom: 2px solid purple;
}
.box input{
    font-family: 'Baloo Chettan 2', cursive;
    background: none ;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
}
.btn i{
    width: 25px;
    text-align: center;
}
.btn{
    font-family: 'Baloo Chettan 2', cursive;
    color: white;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid purple;
    border-radius: 10px;
    background: none;
    font-weight: bold;
}
.btn:hover{
    opacity: 0.5;
    color: purple;
    background: white;
}